 {% extends 'base.html' %} {% block body %}
<div class="container">
    <div class="rows">
        <h1>À propos de TDSISecurity.com</h1>
        <h3>Notre histoire </h3>
        <p> Moussa DUEDHIOU , a annoncé le lancement de TDSISecurity.com dans un message du 24 Mars 2018, Bienvenue dans la conversation sur TDSISecurity.com . Il a expliqué: "Ce site est l’un des moyens par lesquels on peut a la fois decouvrir un blog pour les utilisateurs simple et de faire des scans pour les admins.</p>
        <h3>Mode de fonctionnement</h3>
        <p>Cette page s’explique sur l’utilisation du site (outil), Les personnes habilités à faire des scans et ceux qui ne l’ont pas mais aussi sur le bloc de l’entreprise.</p>
        <p>TDSI SECURITY son nom, l’outil est de nature site web spécifiquement conçu pour les entreprises.
        Il permet de faire découvrir des vulnérabilités réseaux, systèmes et applications mais il faut noter que pour des raisons de sécurité seuls les administrateurs ont les privilèges pour faire des scans.
        Pour les utilisateurs simples un blog est mis à leur dispositions ou ils auront la possibilité de découvrir l’entreprise, de publier des articles et de commenter s’ils les désirent.
        L’outil sera en ligne donc à la portée de tous ceux qui connectent sur internet mais avant toutes choses il faudra s’authentifier.</p>
        <p>Nous parlons ici de Test de vulnérabilité en tant qu’étape de la phase préparatoire de la démarche utilisée dans les tests d’intrusion. Elle consiste à récupérer des informations relatives aux réseaux et aux systèmes présents sur ces derniers, dans le but d’identifier les failles de vulnérabilité. Les failles de vulnérabilité résultent en général de limites inhérentes à la conception des technologies ou découlent de mauvaises configurations ou utilisations.
        Nous nous intéressons ici à la description de la démarche employée dans les tests de vulnérabilité :
        </p>
        <br><br>
    </div>
</div>


{% endblock %}
